.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
}
.lista {
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.row {
  display: flex;
  justify-content:center;
  margin-bottom: 10px;
}
.button-container button {
  padding: 10px 20px;
  font-size: 16px;
}


.row input,
.row select {
  width: 90%;
  padding: 10px;
  font-size: 16px;
}
.row div{
  width: 50%;
}
.row h4 {
  margin-bottom: 5px;
}
#guardar{
  bottom: 20px; /* Ajusta la distancia desde la parte inferior */
    right: 20px; /* Ajusta la distancia desde la derecha */
    background-color: #9933ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin:5%;
}
.button-row {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-row button {
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 16px;
}
